

.navbar {
  display: flex;
  flex-direction: column;   
  align-items: center; 
  width: 12rem;                        
  background-color: #8b8b8b;  
  color: rgb(0, 195, 255);
  padding: 1.5rem;
  height: 100vh;
  position: fixed;
  top: 0;
}

.logo-name {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: -1.8rem;
  font-size: 1.5rem;
  font-weight: 900;
}

.logo {
  margin-right: 10px;
  font-size: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;  
  gap: 2rem;                
}

ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.3rem;
  transition: 0.3s ease-in;
}

ul li a:hover {
  color: #000000; 
  transform: scale(1.2);
}
